<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.princevishwakarma.unitconverter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".flashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/unit_converter"
             />
        <activity
            android:name=".lengthActivity"
            android:label="@string/length_convert"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".massActivity"
            android:label="@string/mass_convert"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".timeActivity"
            android:label="@string/time_convert"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tempActivity"
            android:label="@string/temp_convert"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dsActivity"
            android:label="@string/ds_convert"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".aboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".contactActivity"
            android:label="@string/contact"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>